
.side
  .side__title
    .sign_in__user Karen
    .side__menu
      = link_to '#',　class: 'new_group' do
        = fa_icon 'edit',class: "fa-white"
      = link_to '#',　class: 'edit_account' do
        = fa_icon 'cog',class: "fa-white"
  .group
    = link_to '#', class: 'group__choice' do
      .group__chat
        .group__chat__name グループの名前
        .group__chat__conversation 会話内容
    = link_to '#',　class: 'group__choice' do
      .group__chat
        .group__chat__name グループの名前
        .group__chat__conversation 会話内容
    = link_to '#',　class: 'group__choice' do
      .group__chat
        .group__chat__name グループの名前
        .group__chat__conversation 会話内容
