.sidebar
  .sidebar__title
    .sidebar__title__sign_in_user
      = current_user.name
    .sidebar__title__menu
      = link_to new_group_path, class: 'fa-white' do
        = fa_icon 'edit'
      = link_to edit_user_path(current_user), class: 'fa-white' do
        = fa_icon 'cog'
  .sidebar__group
    = render 'messages/repeat_groups'
